<% provide(:title, @property.display_name) %>

<div class="row">
  <aside class="col-md-12">
    <section class="user_info">
      <h1>
        Yearly Mortgage Payments
      </h1>

      <div>
        <%#= link_to 'Add Yearly Mortgage', create_yearly_mortgage_expense_path %>
      </div>

      <%= form_with do %>
        <div class=""
        <%= label_tag(:monthly_payment, "Monthly Mortgage Amount: $") %>
        <%= text_field_tag(:monthly_payment) %>

        <%= label_tag(:year, "Year (yyyy): ") %>
        <%= text_field_tag(:year) %>

        <%= submit_tag("Add Yearly Mortgage") %>
      <% end %>
    </section>
  </aside>
</div>
