<% provide(:title, 'Log In') %>

<h1>Log In</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      <%= link_to '(forgot password)', new_password_reset_path %>

      <div>
        <%= f.label :remember_me, class: "checkbox inline" do %>
          <%= f.check_box :remember_me %>
          <span>Keep me logged in</span>
        <% end %>
      </div>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <h4>New user? <%= link_to "Sign up now!", start_path %></h4>
  </div>
</div>