<%= form_for(@property) do |f| %>
  <%= render 'shared/error_messages', object: @property %>

  <%= f.label :nickname, 'Nickname for this property' %>
  <%= f.text_field :nickname, class: 'form-control' %>

  <%= f.fields_for :address, OpenStruct.new(@property.address) do |a| %>
    <%= a.label :street_address %>
    <%= a.text_field :street_address, id: :street_address, class: 'form-control' %>

    <div class="col-md-4">
      <%= a.label :city %>
      <%= a.text_field :city, id: :city, class: 'form-control' %>
    </div>

    <div class="col-md-2">
      <%= a.label :state %>
      <%= a.text_field :state, id: :state, class: 'form-control' %>
    </div>

    <div class="col-md-4">
      <%= a.label :zip_code %>
      <%= a.text_field :zip_code, id: :zip_code, class: 'form-control' %>
    </div>
  <% end %>

  <%= f.label :property_type, 'What kind of property is this?' %>
  <%= f.select :property_type, Property::PROPERTY_TYPES.map(&:to_s).map(&:titleize), include_blank: true, class: 'form-control'%>

  <%= f.fields_for :property_documents do |builder| %>
    <%= render 'property_document_fields', f: builder %>
  <% end %>

  <%= link_to_add_fields 'Upload Document', f, :property_documents %>

  <%= f.submit yield(:button_text), class: 'btn btn-primary' %>
<% end %>
