<% provide(:title, 'Add Property') %>
<% provide(:button_text, 'Add New Property') %>

<h1>Add Property</h1>

<%= form_for(@property) do |f| %>
  <div class="row">
    <div class="col-sm-6">
        <%= render 'shared/error_messages', object: @property %>

        <%= f.label :nickname, 'Nickname for this property' %>
        <%= f.text_field :nickname, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <%= f.fields_for :address, OpenStruct.new(@property.address) do |a| %>
        <%= a.label :street_address %>
        <%= a.text_field :street_address, id: :street_address, class: 'form-control' %>

        <%= a.label :city %>
        <%= a.text_field :city, id: :city, class: 'form-control' %>

        <%= a.label :state %>
        <% states = [ "AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DE", "FL", "GA", "HI", "ID", "IL", "IN", "IA", "KS",
                      "KY", "LA", "ME", "MD", "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", "NM", "NY",
                      "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV",
                      "WI", "WY"] %>
        <%= a.select :state, states, {include_blank: false}, {class: 'custom-select mb-sm-3'} %>

        <%= a.label :zip_code %>
        <%= a.text_field :zip_code, id: :zip_code, class: 'form-control' %>

      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 mt-sm-2">
      <%= f.label  :property_type, 'Property Type:' %>

      <%= f.select :property_type,
                   Property::PROPERTY_TYPES.map(&:to_s).map(&:titleize),
                   {include_blank: true}, {class: 'custom-select mb-sm-3'} %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <%= f.submit yield(:button_text), class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
