<% provide(:title, 'Add Property') %>

<h1>Add Property</h1>

<div class="row">
  <div class="col-sm-6 col-md-6">
    <% provide(:button_text, 'Add New Property') %>
    <%= form_for(@property) do |f| %>
      <%= render 'shared/error_messages', object: @property %>

      <%= f.label :nickname, 'Nickname for this property' %>
      <%= f.text_field :nickname, class: 'form-control' %>

      <%= f.fields_for :address, OpenStruct.new(@property.address) do |a| %>
        <%= a.label :street_address %>
        <%= a.text_field :street_address, id: :street_address, class: 'form-control' %>

        <%= a.label :city %>
        <%= a.text_field :city, id: :city, class: 'form-control' %>

        <%= a.label :state %>
        <%= a.text_field :state, id: :state, class: 'form-control' %>

        <%= a.label :zip_code %>
        <%= a.text_field :zip_code, id: :zip_code, class: 'form-control' %>

      <% end %>

      <%= f.label :property_type, 'Property Type:' %>
      <%= f.select :property_type, Property::PROPERTY_TYPES.map(&:to_s).map(&:titleize), include_blank: true, class: 'form-control'%>

      <%= f.submit yield(:button_text), class: 'btn btn-primary' %>
    <% end %>


  </div>
</div>
