<% provide(:title, @property.address['street_address']) %>

<h1><%= @property.display_name %> - Dashboard</h1>

<% unless @price_history_data.empty? %>
<div class="row">
  <div class="col-sm-12">
    <%= line_chart(
            @price_history_data.transform_values { |v| number_to_currency(v, unit: '', delimiter: '')},
            {thousands: ',', round: 2, zeros: true, prefix: '$'}
        )
    %>
  </div>
</div>
<div class="h-divider"></div>
<% end %>

<div class="row">
  <!-- Cost Tracking -->
  <div class="col-md-4 col-sm-12">
    <div class="card mr-md-5" style="width: 18rem;">
      <div class="mx-auto">
        <span class="fas fa-money-bill-alt" style="font-size: 8rem; color: forestgreen;"></span>
      </div>

      <div class="card-body">
        <h3 class="card-title text-center">Cost Tracking</h3>
        <p class="card-text">Keep your expenses updated & organized here.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= link_to 'Expense Reports', user_property_expense_items_path(@current_user, @property) %></li>
        <li class="list-group-item"><%= link_to 'Add an Expense', new_user_property_expense_item_path(@current_user, @property) %></li>
        <li class="list-group-item disabled"><%= link_to 'Mortgage Payments (beta)', user_property_new_mortgage_expense_path(@current_user, @property) %></li>
        <li class="list-group-item disabled"><%= link_to 'HOA Payments (beta)', user_property_new_hoa_expense_path(@current_user, @property) %></li>
      </ul>
      <div class="card-body">
        <a href="#" data-toggle="modal" data-target="#exampleModalLong" class="btn btn-secondary">Learn More</a>
        <%= render 'properties/cost_tracking/learn_more' %>
      </div>
    </div>
  </div>

  <!-- Documents -->
  <div class="col-md-4 col-sm-12">
    <div class="card mr-md-5" style="width: 18rem;">
      <div class="mx-auto">
        <span class="fas fa-file-invoice pt-sm-1" style="font-size: 8rem; color: Salmon;"></span>
      </div>

      <div class="card-body">
        <h3 class="card-title text-center">Documents</h3>
        <p class="card-text">Find all your documents in one place.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= link_to 'Leases', user_property_leases_path(@current_user, @property) %></li>
      </ul>
      <div class="card-body">
        <a href="#" data-toggle="modal" data-target="#documentLearnMore" class="btn btn-secondary">Learn More</a>
        <%= render 'properties/property_documents/learn_more' %>
        <%#= render 'properties/property_documents/search_listing' %>
        <%#= render 'properties/property_documents/upload_document' %>
      </div>
    </div>
  </div>

  <!-- Reminders -->
  <div class="col-md-4 col-sm-12">
    <div class="card mr-md-5" style="width: 18rem;">
      <div class="mx-auto">
        <span class="fas fa-clock" style="font-size: 8rem; color: MediumPurple;"></span>
      </div>

      <div class="card-body">
        <h3 class="card-title text-center">Reminders</h3>
        <p class="card-text">Set Up Lease Expiration reminders.</p>
      </div>

      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= link_to 'Events Calendar', user_property_events_path(@current_user, @property) %></li>
      </ul>
    </div>
  </div>
</div>

