<% provide(:title, @property.address['street_address']) %>

<h1><%= @property.display_name %> - Dashboard</h1>

<div class="row">
  <div class="col-md-4 col-sm-12">
    <!-- Cost Tracking -->
    <div class="card mr-md-5" style="width: 18rem;">
      <div class="mx-auto">
        <span class="fas fa-money-bill-alt" style="font-size: 8rem; color: forestgreen;"></span>
      </div>

      <div class="card-body">
        <h3 class="card-title text-center">Cost Tracking</h3>
        <p class="card-text">Keep your expenses updated & organized here.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= link_to 'Expense Reports', new_expense_report_path(@property) %></li>
        <li class="list-group-item"><%= link_to 'Add an Expense', new_property_expense_item_path(@property) %></li>
        <li class="list-group-item disabled"><%= link_to 'Mortgage Payments (beta)', new_mortgage_expense_path(@property) %></li>
        <li class="list-group-item disabled"><%= link_to 'HOA Payments (beta)', new_hoa_expense_path(@property) %></li>
      </ul>
      <div class="card-body">
        <a href="#" data-toggle="modal" data-target="#exampleModalLong" class="btn btn-secondary">Learn More</a>
        <%= render 'properties/cost_tracking/learn_more' %>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-12">
    <!-- Documents -->
    <div class="card mr-md-5" style="width: 18rem;">
      <div class="mx-auto">
        <span class="fas fa-file-invoice pt-sm-1" style="font-size: 8rem; color: Salmon;"></span>
      </div>

      <div class="card-body">
        <h3 class="card-title text-center">Documents</h3>
        <p class="card-text">Find all your documents in one place.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="#" data-toggle="modal" data-target=".bd-example-modal-lg">Search Documents</a></li>
        <li class="list-group-item"><a href="#" data-toggle="modal" data-target="#uploadDocumentModal">Add a Document</a></li>
      </ul>
      <div class="card-body">
        <a href="#" data-toggle="modal" data-target="#documentLearnMore" class="btn btn-secondary">Learn More</a>
        <%= render 'properties/property_documents/learn_more' %>
        <%#= render 'properties/property_documents/search_listing' %>
        <%#= render 'properties/property_documents/upload_document' %>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-12">
    <!-- Reminders -->
    <div class="card mr-md-5" style="width: 18rem;">
      <div class="mx-auto">
        <span class="fas fa-clock" style="font-size: 8rem; color: MediumPurple;"></span>
      </div>

      <div class="card-body">
        <h3 class="card-title text-center">Reminders</h3>
        <p class="card-text">Set Up Lease Expiration reminders.</p>
      </div>

      <ul class="list-group list-group-flush">
      <li class="list-group-item"><%= link_to 'Leases', property_leases_path(@property) %></li>
    </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-sm-12">
    <!-- Tenants -->
    <div class="card mr-md-5" style="width: 18rem;">
      <div class="mx-auto">
        <span class="fas fa-id-card-alt" style="font-size: 8rem; color: indigo;"></span>
      </div>

      <div class="card-body">
        <h3 class="card-title text-center">Tenants</h3>
        <p class="card-text">Tenant info and actions.</p>
      </div>

      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= link_to 'Current Tenants', new_expense_report_path(@property) %></li>
      </ul>
    </div>
  </div>
</div>

