<fieldset>
  <h2>Closing Disclosure</h2>
  <%= f.hidden_field :document_type, :value => :closing_disclosure %>

  <%= f.label 'Document Name' %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label 'Upload Document' %>
  <%= f.file_field :document, direct_upload: true, class: 'form-control' %>
</fieldset>

<fieldset>
  <h2>Title Insurance</h2>
  <%= f.hidden_field :document_type, :value => :title_insurance %>

  <%= f.label 'Document Name' %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label 'Upload Document' %>
  <%= f.file_field :document, direct_upload: true, class: 'form-control' %>
</fieldset>