<%= form_with(model: lease, local: true) do |form| %>
  <% if lease.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lease.errors.count, "error") %> prohibited this lease from being saved:</h2>

      <ul>
      <% lease.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.datetime_select :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.datetime_select :end_date %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount %>
    <%= form.collection_select :lease_frequency_id, LeaseFrequency.order(:frequency), :id, :frequency, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :property_document_id %>
    <%= form.number_field :property_document_id %>
  </div>

  <%= form.fields_for :tenants do |builder| %>
    <%= render 'tenant_fields', :f => builder %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
