<p id="notice"><%= notice %></p>

<h1>Leases</h1>

<table class="table table-striped table-hover table-bordered">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Lease</th>
    <th scope="col">Start date</th>
    <th scope="col">End date</th>
    <th scope="col">Status</th>
  </tr>
  </thead>
  <tbody>
  <% if @leases&.count&.positive? %>
    <% @leases.sort_by(&:start_date).each do |lease| %>
      <tr>
        <td><%= link_to(lease.property_document&.name, lease) %></td>
        <td><%= lease.start_date&.to_s(:long) %></td>
        <td><%= lease.end_date&.to_s(:long) %></td>
        <td>
          <% if lease.expired?  %>
            <span class="text-danger">Expired</span>
          <% elsif lease.expiring_soon? %>
            <span class="text-warning">Expiring Soon!</span>
          <% else %>
            <span class="text-success">Current</span>
          <% end %>
        </td>
      </tr>
    <% end %>

  <% else %>
    <tr><td>You have no Leases available.</td></tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lease', new_property_lease_path %>
