<% provide(:title, 'Update Expense Item') %>

<h1>Update An Expense Item</h1>

<div class="row">
  <div class="col-sm-6">
    <%= render 'shared/error_messages', object: @expense_item %>
    
    <%= form_for([@expense_item.property, @expense_item]) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :expense_date %>
      <%= f.date_field :expense_date, class: 'form-control' %>

      <%= f.label :cost %>
      <%= f.number_field :cost, class: 'form-control', step: :any %>

      <h3>Attachments</h3>
      <ul>
        <% @expense_item.attachments.each do |f| %>
          <li>
              <a href="<%= url_for(f) %>"><%= f.filename %></a>
          </li>
        <% end %>
        <%= f.file_field(:attachments, multiple: true) %>
      </ul>

      <%= f.submit 'Update Expense', class: 'btn btn-primary mt-sm-3' %>
      <%= link_to 'Cancel', property_path(@property), class: 'btn btn-danger mt-sm-3' %>
    <% end %>
  </div>
</div>
