<% provide(:title, "Expense Reports | #{@year}") %>

<div class="row">
  <aside class="col">
    <section class="year_picker">
      <h1>Expense Report - <%= @year %></h1>

      <h3>Overview</h3>
      <%=  column_chart(
             @year_summary,
             {xtitle: "Year", ytitle: "Cost", thousands: ',', round: 2, zeros: true, prefix: '$'}
           )
      %>

      <h3>Total Cost: <%= number_to_currency(@expense_report[:total_cost]) %></h3>
      <div>
        <table class="table table-striped table-hover table-bordered">
          <thead class="thead-dark">
          <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Cost</th>
          </tr>
          </thead>

          <tbody>
          <% @expense_report[:expenses].each do |e| %>
            <tr>
              <td><%= link_to e[:name], edit_user_property_expense_item_path(@current_user, @property, e[:id]) %></td>
              <td><%= e[:date].strftime('%m/%d/%Y') %></td>
              <td><%= number_to_currency(e[:cost]) %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </section>
  </aside>
</div>
